@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "Archangelsk";
  src:
    url("./Archangelsk.ttf") format("woff2"),
    url("./Archangelsk.ttf") format("woff");
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-size: 60px;
    font-family: "Archangelsk", sans-serif;
    margin: 0;
    line-height: 63.3px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 34px;
  opacity: 0.7;
}

span {
  font-weight: 700;
  color: rgb(82, 190, 220);
  opacity: 1;
}

body {

}

.header {
}

.header__background-img {
  background-image: url("img/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 20px;
}

.header__social {
  margin-right: 30px;
}

.header__socials {
  padding-top: 40px;
}

.main {

}

.main__title {
  padding-top: 70px;
  padding-bottom: 25px;
  width: 1000px;
}

.main__desc {
  width: 950px;
}

.main__pictures {
  display: flex;
  padding: 70px 0;
}

.small {
  display: flex;
  flex-direction: column;
}

.picture1 {
  margin-bottom: 32px;
  margin-right: 32px;
}

.picture2 {

}

.big__picture {

}
