@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Archangelsk";
  src: url("./Archangelsk.ttf") format("woff2"), url("./Archangelsk.ttf") format("woff");
}
.container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header .container {
  position: relative;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-size: 60px;
  font-family: "Archangelsk", sans-serif;
  margin: 0;
  line-height: 63.3px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 34px;
  opacity: 0.7;
}

span {
  font-weight: 700;
  color: rgb(82, 190, 220);
  opacity: 1;
}

.header__background-img {
  background-image: url("img/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center, right bottom;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding-top: 20px;
}

.header__social {
  margin-right: 30px;
}

.header__socials {
  padding-top: 40px;
}

.header__bottom {
  background-color: #f8f200;
  padding: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(8% 0, 88% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 100%, 0 13%);
          clip-path: polygon(8% 0, 88% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 100%, 0 13%);
}

.welcome__title {
  max-width: 485px;
  margin-bottom: 25px;
}

.welcome__info {
  background-color: #000;
  padding: 19px 50px;
  display: inline-block;
  color: #f8f200;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.main__title {
  padding-top: 70px;
  padding-bottom: 25px;
  max-width: 1000px;
}

.main__desc {
  max-width: 950px;
}

.main__pictures {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  position: relative;
}

.small__pictures {
  width: 30%;
}

.small {
  display: flex;
  flex-direction: column;
}

.picture1 {
  margin-bottom: 32px;
  margin-right: 32px;
}

.big__picture {
  width: 60%;
}

.main__promo {
  background-color: #000;
  color: white;
}

.promo__transfer {
  width: 100%;
}

.promo__title {
  display: flex;
  padding-bottom: 25px;
}

.promo__title-img {
  padding-top: 15px;
}

.promo__title-text {
  color: white;
  padding-top: 70px;
  margin-left: 32px;
}

.promo__desc {
  max-width: 965px;
  opacity: 0.9;
}

.main__promo-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.picture {
  padding-top: 50px;
}

.promo__form {
  padding-top: 100px;
}

.form {
  color: white;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: #000;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #777777;
  height: 35px;
  margin-bottom: 35px;
}

.form__btn {
  background-color: #F8F200;
  padding: 20px 50px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-top: 35px;
  margin-bottom: 15px;
  display: inline-block;
}

.form__confirm {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.7;
}

.main__monitor {
  background-color: #F8F200;
}

.monitor__transfer {
  padding-bottom: 70px;
  width: 100%;
}

.main__monitor .container {
  display: flex;
}

.monitor__img {
  padding-right: 30px;
}

.monitor__text {
  padding-bottom: 10px;
}

.monitor__sponsors {
  display: flex;
  align-items: center;
  padding: 25px 75px 70px 40px;
}

.sponsors__together {
  margin: 0 25px;
}

.monitor__desc {
  padding: 25px 0;
  opacity: 1;
}

.desc__colors {
  display: flex;
}

.desc__definition {
  display: flex;
  padding: 15px 0;
}

.desc__gameplay {
  display: flex;
  padding-bottom: 40px;
}

.monitor__btn {
  text-decoration: none;
  color: #F8F200;
  background-color: #000;
  padding: 20px 50px;
  display: inline-block;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.colors__text {
  opacity: 1;
  margin-left: 10px;
}

.definition__text {
  opacity: 1;
  margin-left: 10px;
}

.gameplay__text {
  opacity: 1;
  margin-left: 10px;
}

.main__buy {
  background-color: #000;
  display: flex;
  color: white;
}

.main__buy .container {
  margin: 0;
}

.main__buy .container {
  padding: 70px 32px 0 70px;
}

.buy__title {
  color: white;
  max-width: 625px;
  margin-bottom: 25px;
}

.buy__desc {
  margin-bottom: 15px;
  opacity: 1;
  font-weight: 700;
  font-size: 24px;
}

.desc__disk {
  display: flex;
  margin-bottom: 15px;
}

.disk__text {
  opacity: 1;
  margin-left: 10px;
}

.desc__code {
  display: flex;
  margin-bottom: 15px;
}

.code__text {
  opacity: 1;
  margin-left: 10px;
}

.desc__instructions {
  display: flex;
  margin-bottom: 70px;
}

.instructions__text {
  opacity: 1;
  margin-left: 10px;
}

.buy__platforms {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  opacity: 1;
}

.buy__platforms1 {
  margin-bottom: 50px;
}

.platform__pc {
  margin-right: 80px;
}

.platform__stadia {
  margin-right: 80px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__img {
  padding: 13px 0;
}

.footer__cyberpunk {
  margin-right: 32px;
}

.footer__text {
  display: flex;
  padding: 40px 0;
}

.footer__lisence {
  margin-right: 32px;
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  opacity: 1;
}

.footer__politic {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  opacity: 1;
}

.footer__project {
  background-color: #000;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 15px 0;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */